# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.production
.env*

# vercel
.vercel

# generated assets (created by scripts/generar-imagenes.mjs on build)
public/og.png
public/favicon.png

# macOS / Windows
.DS_Store
Thumbs.db

# logs
npm-debug.log*
